@use 'variables/colors';

:root {
    --ng-progress-color: #fff;
    --ng-progress-thickness: 3;
    --ng-progress-spinner-thickness: 3;
    --ng-progress-spinner-spacing: 20;
    --ng-progress-spinner-size: 25;
}

.ng-progress-bar {
    .ng-spinner {
        top: 10px;

        &-icon {
            border-color: colors.$color-primary;
        }
    }
}
