@use 'shared';

$component: 'cmp-time-card';

@include shared.cmp-host() {
    display: block;
}

@include shared.cmp-base($component) {
    &__date {
        @include shared.use-font(thin);
        height: 35px;
        font-size: 30px;
        font-variant: tabular-nums;
        line-height: 22px;
        text-align: right;
    }

    &__time {
        @include shared.use-font(bold);
        font-size: 95px;
        font-variant: tabular-nums;
        text-align: right;
    }

    &__week {
        @include shared.use-font(regular);
        margin-top: 5px;
        font-size: 24px;
        font-variant: tabular-nums;
        text-align: right;
    }
}
