@use 'shared';

$component: 'cmp-news-card';

@include shared.cmp-host() {
    display: block;
    align-self: start;
}

@include shared.cmp-base($component) {
    @include shared.linear-fade-out();

    &__headline {
        @include shared.use-font(light);
        text-align: center;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
    }
}
