port: '{{ url | urlsplit('port') }}'

location:
  latitude: '{{ vault.location.latitude }}'
  longitude: '{{ vault.location.longitude }}'
feeds:
  - https://www.heise.de/rss/heise-Rubrik-IT.rdf
  - https://www.tagesschau.de/xml/rss2/

apiKeys:
  openWeather: '{{ vault.apiKeys.openWeather }}'
