name: Linting
on: push

permissions:
  contents: read
  pull-requests: read

jobs:
  lint-ansible:
    name: Ansible
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # workaround: ensure git directory exists in working directory, ansible action requires this
      - name: Symlink Git directory to ansible working directory
        run: |
          ln -s ${{ github.workspace }}/.git ${{ github.workspace }}/ansible/.git
          ln -s ${{ github.workspace }}/.ansible-lint ${{ github.workspace }}/ansible/.ansible-lint

      # lint ansible
      - uses: ansible/ansible-lint@v25.12.1
        with:
          working_directory: ${{ github.workspace }}/ansible

  lint-dockerfile:
    name: Dockerfile
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # lint dockerfile
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          failure-threshold: warning

  lint-angular:
    name: Angular
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # setup node
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      # lint angular
      - name: Lint
        run: |
          yarn install --frozen-lockfile --ignore-scripts
          yarn run lint

  lint-go:
    name: Go
    runs-on: ubuntu-latest
    steps:
      # checkout
      - uses: actions/checkout@v6

      # setup go
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25

      # lint go
      - uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: api
