<div class="cmp-weather-card">
    @if (current$ | async; as current) {
        <div class="cmp-weather-card__current">
            <div class="cmp-weather-card__temperature">
                <span>{{ current.temp | toHumanNumber }} °</span>
            </div>
            <div class="cmp-weather-card__feels-like">
                <span>{{ current.feels_like | toHumanNumber }} °</span>
            </div>
            <div class="cmp-weather-card__description">
                <span>{{ current.weather[0].description }}</span>
                @if (current.visibility < 1) {
                    <span>
                        , Sichtweite ca. {{ current.visibility | toHumanNumber: '1.0-1' }} km
                    </span>
                }
            </div>
        </div>
    }
    @if (daily$ | async; as daily) {
        <div class="cmp-weather-card__forecast">
            @for (day of daily; track day) {
                <div class="cmp-weather-card__forecast-day">
                    <span class="cmp-weather-card__forecast-weekday">
                        {{ day.dt | fromTimestamp | toDayName }}
                    </span>
                    <span class="cmp-weather-card__forecast-temperature">
                        {{ day.temp.min | toHumanNumber: '1.1-1' }} °
                    </span>
                    <span class="cmp-weather-card__forecast-temperature">
                        {{ day.temp.max | toHumanNumber: '1.1-1' }} °
                    </span>
                </div>
            }
        </div>
    }
</div>
